<footer class="push footer col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="container-fluid">
        <br> 
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <i class="fa fa-copyright" aria-hidden="true">Copyright information</i>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1">
                Analiza e sigurisë se aplikacioneve me Angular
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <i class=""><span class="glyphicon glyphicon-copyright-mark"> </span> 2017 Labinot Kajtazi</i>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-8 col-sm-offset-8 col-lg-offset-8">
                <img src="favicon.ico" class="img-responsive" alt="Cinque Terre">
            </div>
        </div>
    </div>
</footer>
