<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h4 class="text-danger"><mark><strong>-Security Missconfiguration-</strong></mark></h4>
        <p class="text-info">Just like any other framework Angular has its own security configuration options. Certain ones if not used properly may cause unwanted 
            security behaviour. 
        </p>
        <br>
        <h4><mark><strong>-A list of some examples-</strong></mark></h4>
        <dl class="text-info">
            <dt>bypassSecurityTrustHtml(value: string)</dt>
            <dd>-Inform Angular to trust whatever HTML code it is processing</dd>
            <dt>bypassSecurityTrustScript(value: string)</dt>
            <dd>-Inform Angular to trust whatever Script code it is processing</dd>
            <dt>bypassSecurityTrustStyle(value: string)</dt>
            <dd>-Inform Angular to trust whatever CSS code it is processing</dd>
            <dt>bypassSecurityTrustUrl(value: string)</dt>
            <dd>-Inform Angular to trust the URL it takes as a parameter.May be used to load code from <kbd>&lt;hyperlinks&gt;</kbd> or <kbd>&lt;img src&gt;</kbd></dd>
            <dt>bypassSecurityTrustResourceUrl(value: string)</dt>
            <dd>-Inform Angular to trust the URL it takes as a parameter.May be used to load code from <kbd>&lt;script src&gt;</kbd> or <kbd>&lt;iframe src&gt;</kbd></dd>
        </dl>
    </div>
</div>
<br>