<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h4 class="text-danger"><mark><strong>-Broken Authentication Session Management-</strong></mark> Should be implemented on server side</h4>
    <p class="text-info">This type of security issue arises in applications which have a flawed authentication or session management. Applications which do not hash
      or encrypt passwords,have weak account management systems (login,logout,change password, recover password etc), or have issues with Session Id's such as exposed
      session Id's, no timeout or rotation on session id's etc are vulnerable to this threat. </p>
    <br>
  </div>
</div>
<br>