<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h4  class="text-danger"><mark><strong>-Insecure Direct Object Reference-</strong></mark> Should be implemented on server side</h4>
    <p class="text-info">This type of attack is a threat to applications which use direct access to objects and missconfiguration or lack of propper authorization.
      Because both of the above mentioned issues are present in the application, the attacker has the possibility to modify small parts of his request, which give him
      access to an object he is not authorized to access. The way to prevent this is by using per user or session indirect object reference(use dropdowns which map to values
      when requesting in the database), and checking access for every request to see if the user is authorized to proceed with the action.
    </p>
  </div>
</div>
<br>