<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h4 class="mark"><strong>-Using Components with Known Vulnerabilites-</strong></h4>
    <p class="text-info">When building applications developers require certain components which make everything easier and more user friendly. Unfortunately that often leads to
      components with known vulnerabilites which in turn leaves the application with security holes. Angular cannot provide protection against these types of threats so it 
      falls on the developers shoulders to analyse the components they are going to use in detail before including them to the application and exposing the application.
      There are different ways of analysing such components, some of which are</p>
      <ul class="list-group">
          <li class="list-group-item"><i class="glyphicon glyphicon-circle-arrow-right"></i> Review other users comments on the specific library</li>
          <li class="list-group-item"><i class="glyphicon glyphicon-circle-arrow-right"></i> Use different detection tools, examples (Snyk, RetireJs, Burp etc)</li>
          <li class="list-group-item"><i class="glyphicon glyphicon-circle-arrow-right"></i> Reviewing the code by yourself</li>
      </ul>
    <br>
    <h4 class="mark"><strong>-Components found to have issues-</strong></h4>
    <p class="text-info">Here are some example components which in the past were found to have different security issues.</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger"><i class="glyphicon glyphicon-thumbs-down"></i> TextAngular - processes the input and displays it</li>
        <li class="list-group-item list-group-item-danger"><i class="glyphicon glyphicon-thumbs-down"></i> Angular-Translate - used for pages internationalization</li>
    </ul>
    <br>
  </div>
</div>
<br>