<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"><b>The list items below are colored based on the following condition:</b></li>
        <li class="list-group-item list-group-item-success">Issues which fully apply to Angular</li>
        <li class="list-group-item list-group-item-danger">Issues which do not apply to Angular</li>
        <li class="list-group-item list-group-item-warning">Issues which partially apply to Angular</li>
      </ul>
     <br>
     <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><b> -Injection- </b><br> Includes all injection types such as SQL Injection, Template Injection etc</li>
      <li class="list-group-item list-group-item-success"><b> -XSS- </b><br> Cross Site Scripting - refers to client-side code injection attack wherein an attacker can execute malicious scripts into a legitimate website or web application</li>
      <li class="list-group-item list-group-item-danger"><b> -BASM- </b><br> Broken Authentication and Session Management - Can occur when user credentials are weak or not properly stored or when session management is flawed  </li>
      <li class="list-group-item list-group-item-danger"><b> -IDOR- </b><br> Insecure Direct Object References - Insecure Direct Object References occur when an application provides direct access to objects based on user-supplied input. As a result of this vulnerability attackers can bypass authorization and access resources in the system directly, for example database records or files</li>
      <li class="list-group-item list-group-item-success"><b> -SM- </b><br> Security Misconfiguration - Typically occur when holes are left in the security framework of an application by systems administrators, DBAs or developers</li>
      <li class="list-group-item list-group-item-success"><b> -SDE- </b><br> Sensitive Data Exposure - Sensitive Data Exposure occurs when an application does not adequately protect sensitive information such as passwords, session tokens, credit card data to private health data etc</li>
      <li class="list-group-item list-group-item-warning"><b> -MFLAC- </b><br> Missing Function Level Access Control - Occurs if user authentication in sensitive request handlers is insufficient or non-existent, therefore leaving a vulnerability </li>
      <li class="list-group-item list-group-item-warning"><b> -CSRF- </b><br> Cross-Site Request Forgery - An attack that forces an end user to execute unwanted actions on a web application in which they're currently authenticated. CSRF attacks specifically target state-changing requests, not theft of data, since the attacker has no way to see the response to the forged request </li>
      <li class="list-group-item list-group-item-success"><b> -UCKV- </b><br> Using Components with Known Vulnerabilities - A threat identified through vulnerabilities in third-party libraries and software which are extremely common and could be used to compromise the security of systems using the software</li>
      <li class="list-group-item list-group-item-success"><b> -URF- </b><br> Unvalidated Redirects and Forwards - Unvalidated redirects and forwards are possible when a web application accepts untrusted input that could cause the web application to redirect the request to a URL contained within untrusted input</li>
    </ul>
    </div>
  </div>
  <hr>
</div>